<html>
<head>
</head>
<body>
<text>{{message}}</text> <br> <br>
<form action="/add_airplane" method="POST">
	<input type="text" name = "airplane_ID" placeholder="Airplane ID" required/> </br>
	<input type="number" name = "num_of_seats" placeholder="Number of Seats" required/> </br>
	<input type="submit" value = "Create Flight" /> <br> <br>

	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}

<a href="/staff">Return to Your Homepage</a>
</body>
</html>