<html>
<head>
</head>
<body>

<style type="text/css">
    table, th, td{
        border: 1px solid black;
    }
</style>

<text>Your Total Spending The Last {{d}} Days Is: {{total}}</text> <br>
<text>Your Average Spending The Last {{d}} Days Is: {{average}}</text> <br>
<text>The Number of Tickets You Sold Is: {{count}}</text> <br> <br>


<text>Specify a Date Range: </text>
<form action="/commission" method="POST">
    <input type="date" name = start_date placeholder="Start Date" required/> Start Date <br>
    <input type="date" name = end_date placeholder="Start End" required/> End Date <br>
    <input type="submit" value = Submit />
</form> <br>

<a href="/agent">Return to Your Homepage</a>

</body>

</html>
