<html>
<head>
</head>
<body>
<form action="/flight_info_purchase" method="POST">
    <select name="type">
		<option value="city">City</option>
		<option value="airport">Airport</option>
	</select>
    
    <input type="text" name = arrival placeholder="Arrival Destination" required/>
    <input type="text" name = departure placeholder="Departure Destination" required/>
    <input type="date" name = departure_date placeholder="Date" required/>
    <input type="submit" value = Search />
</form>

<style type="text/css">
    table, th, td{
        border: 1px solid black;
    }
</style>

{{message}}

{% for line in data %}
<table>
    <th>Flight Number</th>
    <th>Airline Name</th>
    <th>Departure Airport</th>
    <th>Arrival Airport</th>
    <th>Departure Time</th>
    <th>Arrival Time</th>
    <th>Price</th>
    <th>Status</th>
    <th>Purchase</th>

    <tr>
        <td>{{line[0]}}</td>
        <td>{{line[1]}}</td>
        <td>{{line[3]}}</td>
        <td>{{line[4]}}</td>
        <td>{{line[5]}}</td>
        <td>{{line[6]}}</td>
        <td>{{line[7]}}</td>
        <td>{{line[8]}}</td>
        <td><form action="/purchase", method = "POST">
            <input type="hidden", name = "airline_name", value = "{{line[1]}}">
            <input type="hidden", name = "flight_num", value = {{line[0]}}> 
            <button type = "submit">Purchase</button>
        </form></td>
    </tr>
</table>
{% endfor %}
<br>

{% if userType == "customer" %}
<a href="/customer">Return to Your Homepage</a>
{% endif %}

</body>

</html>
