<html>
<head>
</head>

<body>

<h1>Welcome Airline Staff {{username}}!</h1>
<text>You Have {{admin}} {{operator}} Permission</text> <br>
<text>{{message}}</text> <br> <br>

<style type="text/css">
    table, th, td{
        border: 1px solid black;
    }
</style>

<text>Upcoming Flights In The Next {{d}} Days: </text> <br>
<table>
    <th>Flight Number</th>
    <th>Airline Name</th>
    <th>Departure Airport</th>
    <th>Arrival Airport</th>
    <th>Departure Time</th>
    <th>Arrival Time</th>
    <th>Status</th>
    <th>Change Status</th>
    <th>Customers</th>
    {% for line in data %}
    <tr>
        <td>{{line[0]}}</td>
        <td>{{line[1]}}</td>
        <td>{{line[2]}}</td>
        <td>{{line[3]}}</td>
        <td>{{line[4]}}</td>
        <td>{{line[5]}}</td>
        <td>{{line[6]}}</td>
        <form action="/change_status", method = "POST">
            <td>
                <input type="hidden", name = "airline_name", value = "{{line[1]}}">
                <input type="hidden", name = "flight_num", value = {{line[0]}}> 
                <input type="text", name = "status", placeholder="Status">
                <button type = "submit">Change</button>
            </td>
        </form>
        <form action="/customer_list", method = "POST">
            <td>
                <input type="hidden", name = "airline_name", value = "{{line[1]}}">
                <input type="hidden", name = "flight_num", value = {{line[0]}}> 
                <button type = "submit">View All Customers</button>
            </td>
        </form>
    </tr>
    {% endfor %}
</table>
<br>

<text>Specify: </text>
<form action="/staff" method="POST">
    <select name="type">
		<option value="city">City</option>
		<option value="airport">Airport</option>
	</select>
    <input type="text" name = arrival placeholder="Arrival Destination" required/>
    <input type="text" name = departure placeholder="Departure Destination" required/> <br>
    <input type="date" name = start_date placeholder="Start Date" required/> Start Date
    <input type="date" name = end_date placeholder="Start End" required/> End Date <br>
    <input type="submit" value = Submit />
</form> <br>

<a href="/refresh">Refresh</a> <br> <br>
<a href="/create_flights">Create Flights</a> <br>
<a href="/add_airplane">Add Airplane</a> <br>
<a href="/add_airport">View Top Customers</a> <br>
<a href="/view_agents">View Top Customers</a> <br>
<a href="/view_customers">View Top Customers</a> <br>
<a href="/view_reports">View Top Customers</a> <br>
<a href="/revenue">View Top Customers</a> <br>
<a href="/top_destination">View Top Customers</a> <br>
<a href="/permission">View Top Customers</a> <br>
<a href="/add_agents">View Top Customers</a> <br> <br>
<a href="/logout">Logout</a>

</body>


</html>
